.headerContainer {
    border: 1px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100vw;
    /* margin-top: 0px; */
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

.icon1 {
    /* border: 1px solid black; */
    width: 15vw;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* color: grey; */
}

.keeptext {
    font-size: x-large;
    color: rgb(105, 97, 97);

}

.icon2 {
    /* border: 1px solid black; */
    width: 40vw;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(243, 242, 242); */
    box-shadow: 1px 1px 1px 1px rgb(233, 232, 232);
    border-radius: 9px;
}

.icon2 input {
    width: 70%;
    height: 80%;
    border-radius: 7px;
    /* border: 1px solid gray; */
    border-color: transparent;
}

.icon3 {
    /* border: 1px solid black; */
    width: 10vw;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.icon4 {
    /* border: 1px solid black; */
    width: 10vw;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .srh {
        width: '5%',

    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .srh {
        width: '5%',

    }
}